@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Roboto+Flex:wght@300;400;500&display=swap");

:root {
  /*Палитра*/
  --white-0: #ffffff;
  --grey-5: #f6f7f8;
  --grey-50: #a7b6c5;
  --grey-500: #383836;

  --yellow-5: #fab529;
  --yellow-50: #fabb05;

  --orange-5: #ed6b06;
  --orange-50: #ea4335;

  --blue-5: #0096eb;
  --blue-50: #1a73e8;
  --blue-500: #5041bc;

  --fontColor-5: #cbcbcb;
  --fontColor-50: #acacac;
  --fontColor-500: #969696;
  --fontColor-5000: #7c7c7c;
  --fontColor-50000: #414141;

  --app-bgc: #ecf0f1;

  /*Шрифты*/
  --font-robotoFlex: "Roboto Flex", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

body {
  background-color: var(--app-bgc);
  font-family: var(--font-nunito);;
}

* {
  box-sizing: border-box;
}

.calendarWrap{
  display: inline-block;
  position: relative;
}

.calendarElement{
  position: absolute;
  z-index: 999;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
}

