.map {
    width: 100%;
    height: 100%;
}

.map1 {
    height: 50vh;
}

.containerCustomer {
    margin-left: 100px;
    margin-right: 100px;
}

.text {
    position: absolute;
    width: 87px;
    height: 27px;
    left: 133px;
    top: 473px;

    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}