.containerCustomer {
    margin-left: 100px;
    margin-right: 100px;
}

.request{
    border: 1px solid #DADADA;
    border-radius: 15px;
}

.textRequest{
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

.searchBox{
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}

.requestMenu{
    height: 5rem;
}