.subMenu{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    height: 9rem;
    background: #FFFFFF;
}

.transportStatus{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    height: 6rem;
    background: #FFFFFF;
    padding: 1.5rem;
} 

.requestCard{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    height: 42rem;
    background: #FFFFFF;
    font-family: var(--font-robotoFlex);
}

.waitTransport{
    color: var(--blue-5);
    font-size: 2rem;
    border-right: 1px solid var(--fontColor-5);
}

.requestTransport{
    color: var(--yellow-50);
    font-size: 2rem;
    border-right: 1px solid var(--fontColor-5);
}

.brokenTransport{
    color: var(--orange-50);
    font-size: 2rem;
    border-right: 1px solid var(--fontColor-5);
}


.requestTableContainer{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    height: 46rem;
    background: #FFFFFF; 
    padding: 3rem;   
}


.btn-calendar{
    background-color: var(--yellow-5);
    border: 0;
    border-radius: 20px;
}

.btn-filter{
    background-color: var(--white-0);
    border: 1px solid rgba(192, 192, 192, 0.5);;
    border-radius: 20px;
    color: var(--fontColor-5000);
}

.table{
    color: var(--fontColor-50);
    font-family: var(--font-robotoFlex);
    font: 300;
    text-align: center;
    padding: auto;
    border-collapse: collapse;
}

.requestTr{
    background: #FAFAFC;
    border-radius: 15px;
}

.polusIcon{
    width: 100px;
}

.requestTitle{
    font-size: 1.6rem;
    color: var(--yellow-50);
}

.requestData{
    font-size: 1.2rem;
    color: var(--fontColor-500);
}

.requestCheck{
    color: var(--blue-5);
}

.rowCompany{
    border-bottom: 1px solid var(--fontColor-5);
}

.boldCardText{
    font: 500;
}

span:hover {
    color: var(--yellow-50);
}