.map {
    width: 100%;
    height: 100%;
}

.map1 {
    height: 50vh;
}

.containerCustomer {
    margin-left: 100px;
    margin-right: 100px;
    
}

.text {
    position: absolute;
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.textForm {
    font-family: var(--font-nunito);
    font-style: normal;
    font-size: 18px;
    color: #000000;
}

.boxWhite{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    background: #FFFFFF;
}

.btnYellow {
    color:var(--yellow-5);
    border-color: var(--yellow-5);
 }

.card-img-top{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
 }

 .cardBoxWhite{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    margin: 10px;
    padding: 0;
    background: #FFFFFF;
}

.btnAdd {
    background: linear-gradient(180deg, #FAB529 0%, #FAE529 100%);
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 25%;
    padding: 10px;
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
 }