.buttonNav {
    font-style: var(--font-nunito);
    font-size: 20px;
    padding-right: 50px;
}
.navCustomer {
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}
.dropdownItemMy{
    font-style: var(--font-nunito);
    font-size: 24px;
    padding-right: 50px;
}
.navStyles{
    height: 100 ;
}